/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\  //||      ||\\      //\\    [//////////] [//////////]  \\\\\\\  \\
\\  //  ^    ^  \\     //  \\        ||           ||        \\   \\ \\ 
\\  //   ^  ^   \\    //    \\       ||           ||         \\     \\ 
\\  //    ^     \\   //======\\      ||           ||           \\   \\ 
\\  //          \\  //        \\     ||           ||            //  \\ 
\\  //          \\ //          \\    ||           ||       //////   \\ 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/    

	
	/* Mobile style */
/* This is fall-back font styling */
	body{
		font-family: 'Mulish', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: #282112;
		margin: 0;
		overflow-x: hidden;
	}
	body::before {
    content: "";
    background: url(../images/body.png);
    background-repeat: no-repeat;
    padding: 30px;
    position: absolute;
    opacity: 0.5;
    top: 182px;
    left: 10px;
	}

	/* Background animation style */
	.background-animation {
		display: none;
	}

	/* General style */
	.clearfix {
		clear: both;
	}
	.d-none {
		display: none;
	}
	a {
		color: #cca75a;
		-webkit-transition: all 0.25s ease 0s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: all 0.25s ease 0s; /* prefix for firefox 4-15 */
		-o-transition: all 0.25s ease 0s; /* prefix for opera 11.5 */
		transition: all 0.25s ease 0s;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.text-center {
		text-align: center;
	}
	.fixframe {
		max-width: 960px;
		margin: auto;
	}
	#wrapper {
		margin: auto;
		background-color: #ffffff;
		box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.13);
	}

	/* Header Style Starts */
	header {
		background: #f0f0f1;
		box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.33);
		position: fixed;
    z-index: 2;
    width: 100%;
		-webkit-backface-visibility: hidden;
	}
	header a {
		color: #282112;
		text-decoration: none;
	}
	header a:hover {
		color: #cca75a;
		text-decoration: none;
	}
	.head-grid {
		padding: 14px 15px;
		max-width: 930px;
		margin: auto;
		display: grid;
		grid-template-columns: auto auto;
	}
	.head-contact {
		font-size: 17px;
	}
	.mobilemenu {
		display: none;
	}
	nav {
		background: rgba(11, 35, 79, 0.9);
	}
	nav ul {
		max-width: 960px;
		margin: auto;
		text-align: center;
		padding: 0;
		list-style: none;
	}
	nav ul li {
		position: relative;
		margin: 0;
		padding: 11px 32px;
		display: inline-block;
		font-family: 'Crimson Text', serif;
		text-transform: uppercase;
		font-size: 18px;
	}
	nav ul li a {
		color: #fff;
	}
	nav ul li a:before {
		content: "";
		background: #fff;
		height: 2px;
		width: 0;
		position: absolute;
		bottom: 8px;
		-webkit-transition: width .3s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: width .3s; /* prefix for firefox 4-15 */
		-o-transition: width .3s; /* prefix for opera 11.5 */
		transition: width .3s;
		left: 50%;
		-webkit-transform: translateX(-50%); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateX(-50%); /* prefix for mozila firefox 10-15 */
		-o-transform: translateX(-50%); /* prefix for opera 15-22 and mini */
		transform: translateX(-50%);
	}
	nav ul li a:hover:before {
		width: 50%;
	}
	nav ul li.active a:before {
		content: "";
		background: #fff;
		height: 2px;
		width: 50%;
		position: absolute;
		bottom: 8px;
		left: 50%;
		-webkit-transform: translateX(-50%); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateX(-50%); /* prefix for mozila firefox 10-15 */
		-o-transform: translateX(-50%); /* prefix for opera 15-22 and mini */
		transform: translateX(-50%);
	}
	/* Header Style Ends */

	/* Home Page Style Starts */
	#content .banner-text {
		font-size: 15px;
	}
	#content {
		box-shadow: inset 0px 0px 31px 12px rgba(0,0,0,0.13);
		padding-bottom: 30px;
		padding-top: 123px;
		position: relative;
	}
	h1 {
		text-align: center;
		font-family: 'Crimson Text', serif;
		font-size: 43px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 25px 0 25px 0;
		text-shadow: 2px 5px 6px rgba(0,0,0,0.9);
		color: #302e2f;
		position: relative;
		-webkit-transform: scale(0.2); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: scale(0.2); /* prefix for mozila firefox 10-15 */
		-o-transform: scale(0.2); /* prefix for opera 15-22 and mini */
		transform: scale(0.2);
		-webkit-animation: textzoom 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 0s forwards; /* prefix for chrome 4-42 and safari 4-8 */
		-moz-animation: textzoom 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 0s forwards; /* prefix for firefox 5-15 */
		-o-animation: textzoom 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 0s forwards; /* prefix for opera 15-29 */
		animation: textzoom 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 0s forwards;
	}
	@keyframes textzoom {
		100% {
			-webkit-transform: scale(1); /* prefix for chrome 12-35 and safari 4-8 */
			-moz-transform: scale(1); /* prefix for mozila firefox 10-15 */
			-o-transform: scale(1); /* prefix for opera 15-22 and mini */
			transform: scale(1);
		}
	}
	h1::before {
		content: "";
    background: url(../images/h1.png);
    background-repeat: no-repeat;
    padding: 10px 32px 3px 0;
    position: absolute;
		opacity: 0.5;
	}
	#services {
		padding: 0 15px;
	}
	#services .services_grid {
		display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-top: -48px;
	}
	.service_container {
    padding: 0 20px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
	}
	.service-top-view {
		box-shadow: 0 20px 50px rgba(0,0,0,0.8);
		color: #fff;
		z-index: 1;
		padding: 10px;
		position: relative;
		background: #3D64A6;
		align-items: center;
		-webkit-transform: translateY(100px); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateY(100px); /* prefix for mozila firefox 10-15 */
		-o-transform: translateY(100px); /* prefix for opera 15-22 and mini */
		transform: translateY(100px);
		-webkit-transition: all 0.5s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: all 0.5s; /* prefix for firefox 4-15 */
		-o-transition: all 0.5s; /* prefix for opera 11.5 */
		transition: all 0.5s;
		box-sizing: border-box;
    text-align: center;
	}
	.service-top-view img {
		filter: grayscale(100%);
	}
	.service_inner:hover .service-top-view{
		box-shadow: 0px 0 0px 0px rgba(0,0,0,0.8);
		-webkit-transform: translateY(0px); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateY(0px); /* prefix for mozila firefox 10-15 */
		-o-transform: translateY(0px); /* prefix for opera 15-22 and mini */
		transform: translateY(0px);
	}
	.service_inner:hover .service-top-view img {
		filter: grayscale(0%);
	}
	.service-bottom-view {
    position: relative;
    background: #3D64A6;
		box-sizing: border-box;
    align-items: center;
    padding: 1px 20px 20px 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
		-webkit-transform: translateY(-100px); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateY(-100px); /* prefix for mozila firefox 10-15 */
		-o-transform: translateY(-100px); /* prefix for opera 15-22 and mini */
		transform: translateY(-100px);
		-webkit-transition: all 0.5s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: all 0.5s; /* prefix for firefox 4-15 */
		-o-transition: all 0.5s; /* prefix for opera 11.5 */
		transition: all 0.5s;
		color: #fff;
	}
	.service-bottom-view p {
		margin: 0 0 5px 0;
	}
	.service_inner:hover .service-bottom-view{
		-webkit-transform: translateY(0); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translateY(0); /* prefix for mozila firefox 10-15 */
		-o-transform: translateY(0); /* prefix for opera 15-22 and mini */
		transform: translateY(0);
	}
	.service_inner h3 {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 22px;
		font-family: 'Crimson Text', serif;
		font-weight: 400;
	}
	.service_inner img {
		width: 100%;
		height: auto;
		max-width: 250px;
	}

	/* About Page Style Starts */
	section#story {
		padding: 1px 15px;
	}
	.story_container {
		border: 1px solid #000;
		padding: 15px;
	}
	.story_container img {
		float: left;
		margin-right: 15px;
		box-shadow: 0 0 10px;
	}
	.story_container p {
		margin: 12px 0;
	}

	/* Services Page Style Starts */
	#services ul {
		list-style-position: inside;
		width: 200px;
		margin: auto;
	}
	#pricing {
		margin-top: 20px;
	}
	#pricing h2 {
		text-align: center;
		font-family: 'Crimson Text', serif;
		font-size: 43px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 15px 0 25px 0;
		text-shadow: 2px 5px 6px rgba(0,0,0,0.9);
		color: #302e2f;
	}
	table#packages {
		max-width:830px;
		margin: auto;
		font-size: 15px;
		border-spacing: 2px;
    border-collapse: separate;
    border: 1px solid #e8e2e2;
	}
	table#packages th {
		text-shadow: 1px 1px 3px rgba(255,255,255,0.9);
    color: #ffffff;
		font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: 500;
		width: 33.33%;
	}
	table#packages th, table#packages td {
  	border: 1px solid #eee;
		padding: 8px;
		-webkit-transition: background 0.5s ease 0s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: background 0.5s ease 0s; /* prefix for firefox 4-15 */
		-o-transition: background 0.5s ease 0s; /* prefix for opera 11.5 */
		transition: background 0.5s ease 0s;
	}
	table#packages th:nth-child(1), table#packages td:nth-child(1) {
		background-color: #0b234f;
		background-image: linear-gradient(180deg, #0b234f, #4062a1);
		color: #fff;
	}	
	table#packages th:nth-child(2), table#packages td:nth-child(2) {
    background-color: #cca75a;
    background-image: linear-gradient(180deg, #cca75a, #a0751a);
		color: #fff;
	}	
	table#packages th:nth-child(3), table#packages td:nth-child(3) {
    background-color: #c2c4c7;
    background-image: linear-gradient(180deg, #c2c4c7, #515a53);
    color: #fff;
	}	
	/* Portfolio Page Style Starts */
	.projects_container {
		position: relative;
	}

	.projects_container:last-child {
		max-width: 638px;
		margin: auto;
	}
	.grid-3 {
		display: grid;
    grid-template-columns: auto auto auto;
	}
	.project {
		position: relative;
		text-align: center;
		margin: 30px auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 0 12px;
	}
	.project h3 {
		text-transform: uppercase;
    font-size: 19px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: -14px;
    left: 50%;
		-webkit-transform: translate(-50%); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translate(-50%); /* prefix for mozila firefox 10-15 */
		-o-transform: translate(-50%); /* prefix for opera 15-22 and mini */
		transform: translate(-50%);
    color: #ffffff;
    background: #cca75aab;
    padding: 3px 11px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
	.project img {
		cursor: zoom-in;
    box-shadow: 0 10px 10px -5px;
	}
	.project img.thumb {
		width: 100%;
		height: auto;
		max-width: 290px;
	}
	.project img.zoomimg {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: translate(-50%, -50%); /* prefix for mozila firefox 10-15 */
		-o-transform: translate(-50%, -50%); /* prefix for opera 15-22 and mini */
		transform: translate(-50%, -50%);
		z-index: 2;
		position: absolute;
		width: 0;
		-webkit-transition: all 0.5s cubic-bezier(0.68, -0.32, 0.58, 1) 0s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: all 0.5s cubic-bezier(0.68, -0.32, 0.58, 1) 0s; /* prefix for firefox 4-15 */
		-o-transition: all 0.5s cubic-bezier(0.68, -0.32, 0.58, 1) 0s; /* prefix for opera 11.5 */
		transition: all 0.5s cubic-bezier(0.68, -0.32, 0.58, 1) 0s;
		cursor: zoom-out;
		box-shadow: 0 0 10px;
	}
	.project:hover .zoomimg {
		width: 550px;
		height: auto;
		display: block;
		z-index: 2;
	}
	/* Contact Page Style Starts */
	form#contact_form {
		max-width: 600px;
		margin: auto;
		text-align: center;
	}
	#content .grid-1 {
		display: block;
	}
	#content .grid-2 {
		display: block;
	}
	input[type="text"], input[type="email"], input[type="number"], textarea, select{
    height: 41px;
    margin: 0 7px 16px 7px;
    padding: 0 15px;
		font-family: 'Crimson Text', serif;
    font-size: 17px;
    color: #282112;
    border: 0;
    border-bottom: 1px solid #302e2f;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
	}
	input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
		box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.13);
	}
	input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="phone"]::placeholder, textarea::placeholder{
    color: #9d9d9d;
	}
	textarea{
		height: 118px;
		padding: 10px 15px;
		resize: vertical;
	}
	input[type="submit"] { border: 0; }
	input[type="submit"] { cursor: pointer; }
	.address {
		max-width: 509px;
    margin: 30px auto 30px auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
	}
	#content .email, #content .phone, #content address {
		position: relative;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
    margin: 7px auto;
		font-style: normal;
	}
	.address .email a, .address .phone a {
		text-decoration: none;
	}
	.email a:hover, .phone a:hover {
		text-decoration: underline;
	}
	.email::before {
		content: "";
    position: absolute;
    background: url(../images/email.svg);
    top: 2px;
    padding: 9px 12px;
    background-size: cover;
}
	.phone::before {
    content: "";
    position: absolute;
    background: url(../images/phone.svg);
    top: 0px;
    padding: 12px 12px;
    background-size: cover;
	}
	address::before {
		display: none;
    content: "";
    position: absolute;
    background: url(../images/pin.svg);
    top: -2px;
    padding: 12px 12px;
    background-size: cover;
	}

	/* Marks Page Style Starts */
	table#marking {
		width:930px;
		margin: auto;
		border-collapse: collapse;
		font-size: 15px;
	}
	table#marking th, table#marking td {
  	border: 1px solid black;
		padding: 8px;
		-webkit-transition: background 0.5s ease 0s; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: background 0.5s ease 0s; /* prefix for firefox 4-15 */
		-o-transition: background 0.5s ease 0s; /* prefix for opera 11.5 */
		transition: background 0.5s ease 0s;
	}
	table#marking th {
		background: #3D64A6;
		color: #fff;
	}
	table#marking caption {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
	}	
	table#marking tr td:nth-child(1) {
		min-width: 30px;
	}
	table#marking tr td:nth-child(4) {
		min-width: 100px;
	}
	table#marking tr {
		background: #ffefcc;
	}
	table#marking tr td:first-child {
		font-weight: 600;
	}	
	table#marking tr td:last-child {
		background: #d4edda;
	}	
	table#marking a {
		color: #302e2f;
	}	
	table#marking tr:hover td {
    background: #ffffff;
    box-shadow: inset 0px 0 5px 0px rgba(0,0,0,0.4);
	}
	/* Footer Style */
	footer {
    padding: 27px 0 51px 0;
    background: url(../images/footer-bg.png) rgba(11, 35, 79, 0.9);
    background-repeat: no-repeat;
    color: #ffffff;
    box-shadow: 0px 0px 31px 2px rgba(255,255,255,0.13);
    text-align: center;
	}
	/* Hidden elements on mobile */
	body::before, .head-contact {
		display: none;
	}
	.head-grid {
		display: block;
	}
	.head-contact {
		text-align: center;
	}

	/* Mobile menu hamburger icon */
	.navigation {
		clear: both;
		max-height: 0;
		-webkit-transition: max-height .2s ease-out; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: max-height .2s ease-out; /* prefix for firefox 4-15 */
		-o-transition: max-height .2s ease-out; /* prefix for opera 11.5 */
		transition: max-height .2s ease-out;
		overflow: hidden;
	}
	.mobilemenu-lines {
    cursor: pointer;
    padding: 16px 8px 16px 8px;
    position: absolute;
    user-select: none;
    right: 11px;
    top: 14px;
    border-radius: 4px 4px 0 0;
		background: rgba(11, 35, 79, 0.9);
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.13);
	}
	.mobilemenu-lines .menuicon {
    background: #dcd8d8;
    display: block;
    height: 2px;
    position: relative;
		-webkit-transition: background .2s ease-out; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: background .2s ease-out; /* prefix for firefox 4-15 */
		-o-transition: background .2s ease-out; /* prefix for opera 11.5 */
		transition: background .2s ease-out;
    width: 20px;
	}
	.mobilemenu-lines .menuicon:before,
	.mobilemenu-lines .menuicon:after {
		background: #dcd8d8;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
		-webkit-transition: all .2s ease-out; /* prefix for chrome 4-25 and safari 3.1-8 */
		-moz-transition: all .2s ease-out; /* prefix for firefox 4-15 */
		-o-transition: all .2s ease-out; /* prefix for opera 11.5 */
		transition: all .2s ease-out;
    width: 100%;
	}
	.mobilemenu-lines .menuicon:before {
		top: 6px;
	}
	.mobilemenu-lines .menuicon:after {
		top: -6px;
	}
	.mobilemenu {
		display: none;
	}
	.mobilemenu:checked ~ .navigation {
		max-height: 240px;
	}
	.mobilemenu:checked ~ .mobilemenu-lines .menuicon {
		background: transparent;
	}
	.mobilemenu:checked ~ .mobilemenu-lines .menuicon:before {
		-webkit-transform: rotate(-45deg); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: rotate(-45deg); /* prefix for mozila firefox 10-15 */
		-o-transform: rotate(-45deg); /* prefix for opera 15-22 and mini */
		transform: rotate(-45deg);
	}
	.mobilemenu:checked ~ .mobilemenu-lines .menuicon:after {
		-webkit-transform: rotate(45deg); /* prefix for chrome 12-35 and safari 4-8 */
		-moz-transform: rotate(45deg); /* prefix for mozila firefox 10-15 */
		-o-transform: rotate(45deg); /* prefix for opera 15-22 and mini */
		transform: rotate(45deg);
	}
	.mobilemenu:checked ~ .mobilemenu-lines:not(.steps) .menuicon:before,
	.mobilemenu:checked ~ .mobilemenu-lines:not(.steps) .menuicon:after {
		top: 0;
	}
	nav {
		background: none;
	}
	nav ul li {
    display: block;
	}
	.navigation {
		background: rgba(11, 35, 79, 0.9);
    float: right;
    position: absolute;
    right: 11px;
    top: 45px;
	}
	/* Homepage Style Starts*/
	main#content {
		padding-top: 64px;
	}
	#services .services_grid {
		display: block;
		margin-top: -68px;
	}
	.service_container:nth-of-type(2), .service_container:nth-of-type(3) {
		margin-top: -15px;
	}
	/* About Page Style Starts */
	.story_container {
		text-align: center;
	}
	.story_container img {
		float: none;
	}
	.timeline-container {
		width: 77%;
		margin: 19px 0;
	}
	.timeline .timeline-container::after {
		left: auto;
		right: -17px;
	}
	.timeline-container .content {
    padding: 11px 23px;
    margin-left: 12px;
	}
	#timeline .left .content {
		margin-right: 12px;
    margin-left: 0;
	}
	.right {
		left: 10%;
	}
	#timeline .right::after {
			left: -16px;
	}
	#timeline .right::before {
    left: 19px;
	}
	.left {
		left: 10%;
		text-align: left;
	}
	#timeline .left::before {
		right: auto;
		left: 179px;
    border: medium solid #4062a1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4062a1 transparent transparent;
		transform: rotate(180deg);
	}
	.timeline::after {
		left: 10%;
	}

	/* Portfolio Page Style */
	#portfolio .grid-3, .grid-2 {
		display: block;
	}
	#portfolio .project {
		margin: 50px auto;
	}
	#portfolio .project:hover .zoomimg {
		width: 120%;
	}

	/* Contact Page Style */
	.address .grid-2 {
		display: block;
	}
	#content .email, #content .phone {
		display: block;
		margin: 7px auto;
	}
	input[type="text"], input[type="email"], input[type="number"], textarea, select {
		width: 80%;
		margin: auto auto 20px auto;
	}

	/* Marks Page Style */
	table#marking {
		width: 95%;
	}
	table#marking tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	table#marking th {
		width: 20%;
	}
	table#marking tr td:nth-of-type(1)::before {
		content: "#:";
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table#marking tr td:nth-of-type(2)::before {
		content: "Criteria:";
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table#marking tr td:nth-of-type(3)::before {
		content: "Page:";
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table#marking tr td:nth-of-type(4)::before {
		content: "Code Line:";
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table#marking tr td:nth-of-type(5)::before {
		content: "Link:";
		float: left;
		font-weight: 600;
		text-transform: uppercase;
	}
	table#marking td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}