/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\  //||      ||\\      //\\    [//////////] [//////////]  \\\\\\\  \\
\\  //  ^    ^  \\     //  \\        ||           ||        \\   \\ \\ 
\\  //   ^  ^   \\    //    \\       ||           ||         \\     \\ 
\\  //    ^     \\   //======\\      ||           ||           \\   \\ 
\\  //          \\  //        \\     ||           ||            //  \\ 
\\  //          \\ //          \\    ||           ||       //////   \\ 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/    

	/* This is fall-back font styling */
	.background-animation, .timeline-container::after, .timeline-container::before {
		display: none;
	}
	header {
		position: static;
	}
	nav ul li a, .text-effect q, .service_inner h3, footer, .timeline-container .content, table#packages th:nth-child(1), table#packages td:nth-child(1), table#packages th:nth-child(2), table#packages td:nth-child(2), table#packages th:nth-child(3), table#packages td:nth-child(3), .project h3, table#marking th {
		color: #000;
	}
	main#content {
		padding-top: 0;
	}
	.service-top-view img {
			filter: grayscale(0);
	}